.list-competence{
  list-style: none;
  margin-left: 90px;
  margin-top: -42px;
  font-size: 16px;
  display: inline;
}
.list-competence > li{
  margin-bottom: 5px;

}

.list-interets{
  font-size: 16px;
  list-style: none;
  padding-left: 15px;
}
.list-interets > li{
margin-bottom: 14px;
}

.important{
  font-size: 18px;
}

.list-detail{
    list-style: none;
    padding-left: 0px;
    font-size: 16px;
}

.diplome-date > li {

  margin-bottom: 38px !important;
}
.list-detail > li {
  margin-bottom: 14px;
}
.line-return{
  margin-top: 45px;
}

.img-responsive{
  height: 250px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}


.list-item{
  margin-bottom: 15px;
}
